<div class="bs-docs-header" id="content">
  <div class="container">
    <h1>Directives</h1>
    <p>A directive is a powerful interface to the DOM. It can bind, transclude, replace, and much more.</p>
  </div>
</div>
<div class="container">
	<div class="bs-docs-section">
		<h1 id="panels" class="page-header">Transclusion</h1>
		<p class="lead">
			In this example, we transclude a bootstrap media object with an angular directive, by wrapping the object in a bootstrap panel.
		</p>
		<h3>Simple Transclude</h3>
		<p>With <code>ng-simple-transclude</code>, a <code>.media-object</code> is wrapped in a <code>.panel.panel-basic</code>.</p>
		<div class="bs-example">
			<div eg-simple-transclusion>
				<div class="media">
					<a class="pull-left" href="#">
						<img class="media-object" data-src="holder.js/64x64" alt="64x64" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCI+PHJlY3Qgd2lkdGg9IjY0IiBoZWlnaHQ9IjY0IiBmaWxsPSIjZWVlIi8+PHRleHQgdGV4dC1hbmNob3I9Im1pZGRsZSIgeD0iMzIiIHk9IjMyIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjEycHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9zdmc+" style="width: 64px; height: 64px;">
					</a>
					<div class="media-body">
						<h4 class="media-heading">Media heading</h4>
						Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
					</div>
				</div>
			</div>
		</div>
		<div class="highlight">
      <div ui-ace="{mode:'html'}">&lt;!-- HTML -->
&lt;div eg-simple-transclusion>
  &lt;div class="media">
    &lt;a class="pull-left" href="#">
      &lt;img ... />
    &lt;/a>
    &lt;div class="media-body">
      &lt;h4 class="media-heading">...&lt;/h4>
      ...
    &lt;/div>
  &lt;/div>
&lt;/div></div><div ui-ace="{mode:'javascript'}">// Javascript
function SimpleTransclusion () {
  return {
    restrict: 'A',
    transclude: true,
    template: '&lt;div class="panel panel-default">' +
                '&lt;div class="panel-heading">' + 
                	'&lt;h3 class="panel-title">Panel title&lt;/h3>&lt;/div>' +
                '&lt;div class="panel-body">&lt;div ng-transclude>&lt;/div>&lt;/div>' +
              '&lt;/div>'
  };
  }</div>
		</div>
	</div>
</div>
