<div class="bs-docs-header">
  <div class="container">
  	<center>
  		<i class="glyphicon glyphicon-tint eg-glyphicon-large"></i>
	    <h1>Advanced Web</h1>
	    <p>Tutorials for client-centric, SPA-oriented AngularJS applications that leverge jQuery and Twitter Bootstrap.</p>
	</center>
  </div>
</div>
<div class="container">
	<center>
		<div class="bs-docs-section eg-built-with">
			<img src="assets/html5.png" />
			<img src="assets/css3.png" />
			<img src="assets/js.png" />
			<img src="assets/jquery.png" style="height:250px;" />
			<img src="assets/twitter.png" style="height:75px;" />
			<img src="assets/angularjs.png" style="height:75px;" />
			<img src="assets/nodejs.png" />
			<img src="assets/aws.jpg" />
		</div>
	</center>
</div>